<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# logo and link to home will appear on all pages%>
    <%= image_tag "rails-logo.jpg" %>
    <br/> 
    <%= link_to "Home", "/" %>
    <%# yield tag below is for displaying the contents of each page in the app%>
    <%= yield %>
  </body>
</html>
